/* Large Tablet / Small Laptop (~1200px) */

@media (max-width: 1200px) {
    .navbar {
        padding: 0.8rem 1rem;
    }

    .hero-content {
    flex-direction: column;  
    text-align: center;
    max-width: 100%;
    gap: 2.2rem;
  }

  .hero-text {
    width: 90%;
    align-items: center;
    gap: 3rem;
  }

     .hero-text h1 {
    font-size: 2.6rem;
  }
  .hero-text p {
    font-size: 1.2rem;
  }

  .hero-btn {
    font-size: 1.2rem;
  }

.hero-img {
    width: 80%;
}

  .hero-img img {
    max-width: 100%;
    margin: 0 auto;
  }

.about-content h1 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.3rem;
}

.menu-grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
}

 .menu-content h1 {
    font-size: 2.8rem;
}

.menu-content p {
    font-size: 1.4rem;
}

.contact-container {
    flex-direction: column;
  }

  .contact-content {
    gap: 2rem;
}

.contact-content h1 {
    font-size: 2.8rem;
}

.contact-content p {
    font-size: 1.rem;
}

.contact-form {
    width: 70%;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    font-size: 1.1rem;
}

.contact-form button {
    font-size: 1.1rem;
}

.footer-content p {
    color: #7f4f24;
    font-size: 1rem;
}
}

/* TABLET BREAKPOINT */

@media (max-width: 992px) {

.nav-logo a img {
    width: 3rem;
  }

   .nav-logo span {
    font-size: 1.3rem;
    font-weight: 600;
   }

      .nav-links ul {
    gap: 2rem;
  }

   .hero-content {
    flex-direction: column;  
    text-align: center;
    max-width: 100%;
    gap: 2.2rem;
  }

  .hero-text {
    width: 90%;
    align-items: center;
    gap: 3rem;
  }

  .hero-text h1 {
    font-size: 2.6rem;
  }

  .hero-text p {
    font-size: 1.3rem;
  }

  .hero-btn {
    font-size: 1.2rem;
  }

.hero-img {
    width: 80%;
}

  .hero-img img {
    max-width: 100%;
    margin: 0 auto;
  }


.about-content h1 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.3rem;
}

   .contact-container {
    flex-direction: column;
  }

    .about-img {
    width: 90%;
  }

  .menu-content h1 {
    font-size: 2.7rem;
}

.menu-content p {
    font-size: 1.3rem;
}

.menu-grid {
    gap: 1.8rem;
}

.contact-content {
    gap: 2rem;
}

.contact-content h1 {
    font-size: 2.6rem;
}

.contact-content p {
    font-size: 1.2rem;
}

.contact-form {
    width: 60%;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    font-size: 1rem;
}

.contact-form button {
    font-size: 1rem;
}

.footer-content p {
    font-size: 1.1rem;
}
}

/* MOBILE STYLE */

@media (max-width:768px) {

    /* show hamburger */

    .menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
  }

  .menu-icon i {
    fill: #582f0e;
}

.open-icon { 
  display: inline-block;   /* show hamburger */
}

.close-icon { 
  display: none;           /* hide X */
}

  /* hide nav-links */

   .nav-links {
    display: none;
     position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 100vh;
     /* background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); */
    background: #faedcd;
    padding: 0.8rem 0;
    flex-direction: column;
  justify-content: center;       
  align-items: center;
  gap: 2rem;
  z-index: 1000;
   }

   .nav-logo {
    display: flex;
    flex-direction: column;
  align-items: center;
  gap: 0.5rem;
   }

  .nav-logo a img {
    width: 2.8rem;
  }

   .nav-logo span {
    font-size: 1.2rem;
    font-weight: 600;
   }

  .nav-btn {
    display: none;
  }

#nav-toggle:checked ~ .menu-icon .open-icon {
    display: none;
}

#nav-toggle:checked ~ .menu-icon .close-icon {
    display: inline-block;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  align-items: center;
  text-align: center;
  list-style: none;
}

.nav-links ul a {
    font-size: 1.3rem;
}

.nav-links ul a:hover {
    background-color: #7f4f24;
    color: #c29d61;
}

#nav-toggle:checked ~ .nav-links {
  display: flex;
}

.navbar {
    display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* padding: 0.8rem 1rem; */
}

.menu-icon { order: 3; }  /* push icon to right */
.nav-logo { order: 1; }   /* logo left */
.nav-btn { order: 2; }    /* stays near logo on desktop */


/* HERO SECTION */

.hero-content {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding-top: 2.5rem;
}


.hero-text {
    width: 100%;
     gap: 2.5rem;
     align-items: center;
}

.hero-text h1 {
    font-size: 1.8rem;
}

.hero-text p {
    font-size: 1.1rem;
}

.hero-btn {
    font-size: 1rem;
}

.hero-img{
    width: 80%;
}

  .hero-img img {
    width: 100%;
    height: auto;
  }

  /* ABOUT US SECTION */


  .about-content h1 {
    font-size: 2rem;
  }

  .about-content p {
    font-size: 1rem;
  }

.about-img {
    max-height: 380px;
}

  .about-img img {
     width: 600px;
  }

  /* MENU SECTION */

  .menu-grid {
    width: auto;
    grid-template-columns: 1fr;
  }

  .menu-card {
    padding: 1rem;
  }


/* CONTACT SECTION */

.contact-container {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem;

}

.contact-content {
    padding: 1.5rem;
    gap: 1rem;
}

.contact-content h1 {
    font-size: 2rem;
}

.contact-content p {
    font-size: 1rem;
}

.contact-form {
    width: 80%;
    padding: 1.5rem 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    gap: 1.5rem;
}

.footer-content p {
    font-size: 0.9rem;
}
}


