/* Large Tablet / Small Laptop (~1200px) */

@media (max-width: 1200px) {
    .navbar {
        padding: 0.8rem 1rem;
    }

      .hero-img img {
    max-width: 350px;
    width: 100%;
    object-fit: cover;  
  }

.menu-grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
}
}

/* TABLET BREAKPOINT */

@media (max-width: 992px) {
      .nav-links ul {
    gap: 2rem;
  }

   .hero-container {
    
  }

   .hero-content {
    flex-direction: column;  
    text-align: center;
    max-width: 100%;
  }

  .hero-image img {
    max-width: 80%;
    margin: 0 auto;
  }

   .contact-container {
    flex-direction: column;
  }

    .about img,
  .about-text {
    width: 100%;
  }
}

/* MOBILE STYLE */

@media (max-width:768px) {

    /* show hamburger */

    .menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
  }

  .menu-icon i {
    fill: #582f0e;
}

.open-icon { 
  display: inline-block;   /* show hamburger */
}

.close-icon { 
  display: none;           /* hide X */
}

  /* hide nav-links */

   .nav-links {
    display: none;
     position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 100vh;
     /* background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); */
    background: #faedcd;
    padding: 0.8rem 0;
    flex-direction: column;
  justify-content: center;       
  align-items: center;
  gap: 2rem;
  z-index: 1000;
   }

   .nav-logo {
    display: flex;
    flex-direction: column;
  align-items: center;
  gap: 0.5rem;
   }

  .nav-btn {
    display: none;
  }

#nav-toggle:checked ~ .menu-icon .open-icon {
    display: none;
}

#nav-toggle:checked ~ .menu-icon .close-icon {
    display: inline-block;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  list-style: none;
}


#nav-toggle:checked ~ .nav-links {
  display: flex;
}

.navbar {
    display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.8rem 1rem;
}

.menu-icon { order: 3; }  /* push icon to right */
.nav-logo { order: 1; }   /* logo left */
.nav-btn { order: 2; }    /* stays near logo on desktop */


/* HERO SECTION */

.hero-content {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding-top: 2.5rem;
}


.hero-text {
    width: 100%;
     gap: 2.5rem;
     align-items: center;
}


.hero-img{
    width: 70%;
}

  .hero-img img {
    width: 100%;
    height: auto;
  }

  /* ABOUT US SECTION */

  .about-content p {
    font-size: 1rem;
  }

.about-img {
    max-height: 380px;
}

  .about-img img {
     width: 600px;
  }

  /* MENU SECTION */

  .menu-grid {
    width: auto;
    grid-template-columns: 1fr;
  }

  .menu-card {
    padding: 1rem;
  }

    /* .menu-card img {
    width: 70%;
    height: 220px;
  } */

/* CONTACT SECTION */

.contact-container {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem;

}

.contact-content {
    padding: 1.5rem;
    gap: 1rem;
}

.contact-form {
    width: 70%;
    padding: 1.5rem 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    gap: 1.5rem;
}
}


