/* MOBILE STYLE */

@media (max-width:768px) {

    /* show hamburger */

    .menu-icon {
    display: block;
    position: absolute;
    right: 1.5rem;
    font-size: 30px;
    cursor: pointer;
  }

  .menu-icon i {
    fill: #582f0e;
}

.open-icon { 
  display: inline-block;   /* show hamburger */
}

.close-icon { 
  display: none;           /* hide X */
}

  /* hide nav-links */

   .nav-links {
    display: none;
  }

  .nav-btn {
    display: none;
  }

#nav-toggle:checked ~ .menu-icon .open-icon {
    display: none;
}

#nav-toggle:checked ~ .menu-icon .close-icon {
    display: inline-block;
}

.nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
     /* background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); */
    background: #faedcd;
    padding: 0.8rem 0;
    display: none;
    flex-direction: column;
  justify-content: center;       
  align-items: center;
  gap: 2rem;
  z-index: 10;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  list-style: none;
}


#nav-toggle:checked ~ .nav-links {
  display: flex;
}

.navbar {
  padding: 1.2rem 1.2rem 0 1.2rem;
}


/* HERO SECTION */

.hero-content {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding-top: 2.5rem;
}


.hero-text {
    width: 100%;
     gap: 2.5rem;
     align-items: center;
}


.hero-img{
    width: 70%;
}

  .hero-img img {
    width: 100%;
    height: auto;
  }

  /* ABOUT US SECTION */

  .about-content p {
    font-size: 1rem;
  }

.about-img {
    max-height: 380px;
}

  .about-img img {
     width: 600px;
  }

  /* MENU SECTION */

  .menu-grid {
    width: auto;
    grid-template-columns: 1fr;
  }

  .menu-card {
    padding: 1rem;
  }

    /* .menu-card img {
    width: 70%;
    height: 220px;
  } */

/* CONTACT SECTION */

.contact-container {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem;

}

.contact-content {
    padding: 1.5rem;
    gap: 1rem;
}

.contact-form {
    width: 70%;
    padding: 1.5rem 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    gap: 1.5rem;
}
}
